<h1>Hello from the other side</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %></li>
  <li><%= restaurant.address %></li>
  <li><%= restaurant.category %></li>
  <li><%= restaurant.phone_number %></li>
</ul>
<% end %>
